<!-- hii abhishek -->
<input type="text" />
<p>{{ tittle  }}</p>
<p class="design">hiii this is  server component</p>





<!-- <div class="" app-server ></div> -->
<div class="app-server" ></div>
<!-- <app-server></app-server> -->
<app-servers></app-servers>

<Warning-Alert></Warning-Alert>
<app-success-alert></app-success-alert>
<app-newfile></app-newfile>


<!-- <app-servers></app-servers>
<app-servers></app-servers> -->
<!-- <app-server></app-server>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server> -->
